---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h2>
                        {{ page.description }}
                    </h2>

                    <!-- Search tool -->
                    {% if site.searchbox %}
                    <div>
                        <input class="search-input" type="text" name="search" id="search" placeholder="Search some article here"/>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
        <!-- NO SIDEBAR -->
            <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <!-- no hr -->
                    <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% else %}

        <!-- USE SIDEBAR -->
            <!-- PostList Container -->
    		<div id="posts_list" class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    		</div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                                <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                {% endif %}

                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr><h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <a href="{{ site.baseurl }}/about">
                                <img src="{{site.sidebar-avatar}}"/>
                            </a>
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                        <!-- SNS Link -->
                        <ul class="list-inline">
                            {% if site.RSS %}
                            <li>
                                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            <!-- add jianshu add target = "_blank" to <a> by BY -->
                            {% if site.jianshu_username %}
                            <li>
                                <a target="_blank" href="https://www.jianshu.com/u/{{ site.jianshu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">简</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.zhihu_username %}
                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.weibo_username %}
                            <li>
                                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}                            
                        </ul>
                        {% if site.email %}
                            <p>✉️ {{site.email}}</p>
                        {% endif %}
                    </div>
                </section>
                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
    		</div>
        {% endif %}
	</div>
</div>



{% if site.searchbox %}
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
    String.prototype.reverse = function () {
        return this.split("").reverse().join("");
    };

    String.prototype.despecial = function (ch) {
        return this.replace(/[!@#$%^&*\(\)_<>=?:\";',./{}\[\]]/g, ch).replace(/ /g, ch);
    };

    String.prototype.splice = function(start, str) {
        return this.slice(0, start) + str + this.slice(start);
    };

    // String.prototype.match = function (str) {
    //     if (typeof(str) == "string") {
    //         return this.toLowerCase().indexOf(str.toLowerCase()) >= 0;
    //     } else {
    //         return false;
    //     }
    // };

    var articles = null;
    $.ajax({
        url: "search.json",
        dataType: "json",
        success: function(res) {
            for (var i = 0; i < res.length; i++) {
                res[i].content = res[i].content.join(" ");
            }
            articles = res;
            console.log(articles);
        }
    });


    var add_relative_posts = function (post_info, key) {
        var post_preview = document.createElement("div");
        post_preview.id = "post_" + post_info.title.despecial("_");
        post_preview.className = "post-preview";
        posts_list.appendChild(post_preview);

        var post_title_container = document.createElement("a");
        post_title_container.href = post_info.url;
        post_preview.appendChild(post_title_container);

        var post_title = document.createElement("h2");
        post_title.className = "post-title";
        post_title.innerHTML = post_info.title;
        post_title_container.appendChild(post_title);

        if (post_info.subtitle) {
            var post_subtitle = document.createElement("h3");
            post_subtitle.className = "post-subtitle";
            post_subtitle.innerHTML = post_info.subtitle;
            post_title_container.appendChild(post_subtitle);
        }

        var start = Math.max(post_info.content.indexOf(key), 0);
        var content = post_info.content.slice(start, start+200);
        if (content.length < 200) {
            content = post_info.content.reverse().slice(0, 200).reverse();
        } 
        content = content + "...";

        var post_content = document.createElement("div");
        post_content.className = "post-content-preview";
        post_content.style="color: #a3a3a3;";
        post_content.innerHTML = content;
        post_preview.appendChild(post_content);

        var post_date = document.createElement("p");
        post_date.className = "post-meta";
        post_date.innerHTML = "Posted on " + post_info.date;
        post_preview.appendChild(post_date);

        var divider = document.createElement("hr");
        post_preview.appendChild(divider);
    };


    var search_article = function(){
    	var key = document.getElementById("search").value;
        var keys = key.split(" ");
        if (key != "") {
        	for (var i = keys.length - 1; i >= 0; i--) {
	        	if (keys[i] == "") {
	        		keys.splice(i, 1);
	        	}
	        }
        }

        var posts_list = document.getElementById("posts_list");
        var posts = document.getElementsByClassName("post-preview");
        for (var i = posts.length; i > 0; i--) {
            posts_list.removeChild(posts[i-1]);
        }

        for (var i = 0; i < articles.length; i++) {
            var r = articles[i];
            var found = false;
            for (var j = 0; j < keys.length; j++) {
                if (document.getElementById("post_" + r.title.despecial("_")) == null) {
                    if (r.title.toLowerCase().indexOf(keys[j].toLowerCase()) >= 0 
                        || r.subtitle.toLowerCase().indexOf(keys[j].toLowerCase()) >= 0 
                        || r.content.toLowerCase().indexOf(keys[j].toLowerCase()) >= 0) {

                        add_relative_posts(r, keys[j]);
                        found = true;
                    }
                }
            }
        }
        if (found) {
            document.getElementById("no_article_label").style = "color: #a3a3a3; margin-top: 48px; justify-content: center; display: none;";
            posts = document.getElementsByClassName("post-preview");
            for (var i = 0; i < posts.length; i++) {
                var title = posts[i].getElementsByTagName("h2")[0].innerHTML;
                var subtitle = posts[i].getElementsByTagName("h3")[0].innerHTML;
                var content = posts[i].getElementsByTagName("div")[0].innerHTML;
                for (var j = 0; j < keys.length; j++) {
                    title = title.replace(new RegExp(keys[j], "gi"), " !s! " + keys[j] + " !e! ");
                    subtitle = subtitle.replace(new RegExp(keys[j], "gi"), " !s! " + keys[j] + " !e! ");
                    content = content.replace(new RegExp(keys[j], "gi"), " !s! " + keys[j] + " !e! ");
                }
                title = title.replace(new RegExp(" !s! ", "g"), "<span class=\"search-result-accent\">").replace(new RegExp(" !e! ", "g"), "<\/span>");
                subtitle = subtitle.replace(new RegExp(" !s! ", "g"), "<span class=\"search-result-accent\">").replace(new RegExp(" !e! ", "g"), "<\/span>");
                content = content.replace(new RegExp(" !s! ", "g"), "<span class=\"search-result-accent\">").replace(new RegExp(" !e! ", "g"), "<\/span>");
                posts[i].getElementsByTagName("h2")[0].innerHTML = title;
                posts[i].getElementsByTagName("h3")[0].innerHTML = subtitle;
                posts[i].getElementsByTagName("div")[0].innerHTML = content;
            }
        } else {
            document.getElementById("no_article_label").style = "color: #a3a3a3; margin-top: 48px; justify-content: center; display: flex;";
        }
    };


    var search_timer = {
        id: null,
        running: function () {
            search_article();
            this.id = null;
        },
        run: function () {
            clearTimeout(this.id);
            var that = this;
            this.id = setTimeout(function () {
                that.running();
            }, 200);
        }
    };

    $("#search").bind("keyup", function(event) {
        var key = document.getElementById("search").value;
        document.getElementById("search").value = key.replace("  ", " ");
        if (articles != null && key[key.length-1] != " ") {
            // search_article();
            if (search_timer.id == null) {
                search_timer.run();
            }
        }
    });
</script>
{% endif %}